:host {
  display: flex;
  flex: 1;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__form {
    width: 400px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
  }

  &__field {
    margin-bottom: 20px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__error {
    margin-bottom: 20px;
  }
}
