<div class="login">
  <form class="login__form"
    (ngSubmit)="login()"
    [formGroup]="loginForm">
    <p>Test user<br>
      Login: broot<br>
      Password: 123
    </p>
    <mat-form-field class="login__field">
      <mat-label class="login__label">
        Email
      </mat-label>
      <input class="login__input"
        matInput
        placeholder="Email"
        formControlName="login">
        <mat-error *ngIf="loginControl.invalid && (loginControl.dirty || loginControl.touched) && loginControl.errors.required">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginControl.invalid && (loginControl.dirty || loginControl.touched) && loginControl.errors.email">
          Email <strong>is not valid</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="login__field">
      <mat-label class="login__label">
        Password
      </mat-label>
      <input class="login__input"
        matInput
        placeholder="Login"
        type="password"
        formControlName="password">
      <mat-error *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched) && passwordControl.errors.required">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="loginForm.invalid && (loginForm.dirty || loginForm.touched)">Login</button>
  </form>
</div>
