<div class="ticket">
  <form *ngIf="projectOptions && projectOptions.length; else noProjectsBlock"
    class="ticket__form"
    [formGroup]="ticketForm">
    <div class="ticket__content">
      <mat-form-field>
        <mat-label>Project name</mat-label>

        <mat-select formControlName="project" #projectSelect>
          <mat-option>
            <ngx-mat-select-search formControlName="projectFilter"
              placeholderLabel="Find project"
              noEntriesFoundLabel="No projects found">
            </ngx-mat-select-search>
          </mat-option>

          <mat-option *ngFor="let option of filteredProjectOptions | async"
            [value]="option">
            {{ option.projectName }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="projectControl.invalid && (projectControl.dirty || projectControl.touched) && projectControl.errors.required">
          Project is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Summary
        </mat-label>
        <input matInput
          placeholder="Summary"
          formControlName="summary">
        <mat-error *ngIf="summaryControl.invalid && (summaryControl.dirty || summaryControl.touched) && summaryControl.errors.required">
          Summary is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="summaryControl.invalid && (summaryControl.dirty || summaryControl.touched) && summaryControl.errors.maxLength">
          Length should be less than 120
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!readonly">
        <mat-label>Description</mat-label>
        <textarea class="ticket__textarea"
          matTextareaAutosize
          matInput
          formControlName="description"
          placeholder="Description"></textarea>
      </mat-form-field>

      <div class="ticket__preview"
        *ngIf="descriptionControl.value"
        [class.ticket__preview_disabled]="readonly">
        <mat-label class="ticket__label">Description</mat-label>
        <bg-markdown [text]="descriptionControl.value"></bg-markdown>
      </div>

      <ng-container *ngIf="isAuthorOrAdmin || isAssignee">
        <div class="ticket__controls" *bgPermission="1">
          <ng-container *ngIf="!readonly; else editBlock">
            <button class="ticket__button"
              color="primary"
              mat-raised-button
              (click)="submit()"
              [disabled]="ticketForm.invalid && (ticketForm.dirty || ticketForm.touched)">
              Save
            </button>
            <button class="ticket__button"
              mat-raised-button
              (click)="cancel($event)">
              Cancel
            </button>
          </ng-container>
  
          <ng-template #editBlock>
            <button class="ticket__button"
              color="primary"
              mat-raised-button
              (click)="edit()">
              Edit
            </button>
          </ng-template>
        </div>
      </ng-container>

      <div class="ticket__comments" *ngIf="activeRoute.snapshot.data.readonly">
        <div class="comment" *ngFor="let comment of comments">
          <div class="comment__info">
            <span class="comment__username">{{ comment.user?.firstName }}</span>
            <span class="comment__time"> commented {{ comment.timestamp | date:'medium'}}</span>
          </div>
          <bg-markdown [text]="comment.text"></bg-markdown>
        </div>

        <ng-container *bgPermission="1">
          <div class="comment__area">
            <mat-form-field class="comment__formfield">
              <textarea class="ticket__textarea"
                matTextareaAutosize
                matInput
                formControlName="comment"
                placeholder="Write a comment"></textarea>
            </mat-form-field>
          </div>

          <button class="ticket__button"
            color="primary"
            [disabled]="!commentControl.value"
            (click)="addComment()"
            mat-raised-button>
            Add comment
          </button>

          <div class="comment__preview">
            <bg-markdown [text]="commentControl.value"></bg-markdown>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="ticket__col">
      <div class="row">
        <span class="row__name">Priority</span>
        <mat-form-field class="row__select">
          <mat-select formControlName="priorityId">
            <mat-option *ngFor="let option of priorityOptions"
              [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="priorityIdControl.invalid && (priorityIdControl.dirty || priorityIdControl.touched) && priorityIdControl.errors.required">
            Priority is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="row__name">Type</span>
        <mat-form-field class="row__select">
          <mat-select formControlName="typeId">
            <mat-option *ngFor="let option of typeOptions"
              [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="typeIdControl.invalid && (typeIdControl.dirty || typeIdControl.touched) && typeIdControl.errors.required">
            Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="row__name">State</span>
        <mat-form-field class="row__select">
          <mat-select formControlName="statusId">
            <mat-option *ngFor="let option of stateOptions"
              [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="statusIdControl.invalid && (statusIdControl.dirty || statusIdControl.touched) && statusIdControl.errors.required">
            State is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="row__name">Assignee</span>
        <mat-form-field class="row__select">
          <mat-label>Assignee name</mat-label>

          <mat-select formControlName="assignee" #assigneeSelect>
            <mat-option>
              <ngx-mat-select-search formControlName="assigneeFilter"
                placeholderLabel="Find assignee"
                noEntriesFoundLabel="No assignees found">
              </ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let option of filteredAssigneeOptions | async"
              [value]="option">
              {{ option.firstName }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="assigneeControl.invalid && (assigneeControl.dirty || assigneeControl.touched) && assigneeControl.errors.required">
            Assignee is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<ng-template #noProjectsBlock>
  <h1>There is no projects where you are participate. Please contact to your project admin or create your own project.</h1>
</ng-template>
