<div class="ticket">
  <form class="ticket__form"
    [formGroup]="ticketForm">
    <div class="ticket__content">
      <mat-form-field>
        <mat-label>Project name</mat-label>

        <input class="ticket__input"
          type="text"
          matInput
          formControlName="project"
          [matAutocomplete]="projectAuto">

        <mat-autocomplete #projectAuto="matAutocomplete"
          [displayWith]="displayProjectsFn">
          <mat-option *ngFor="let option of filteredProjectOptions | async"
            [value]="option">
            {{ option.projectName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Summary
        </mat-label>
        <input matInput
          placeholder="Summary"
          formControlName="summary">
      </mat-form-field>

      <mat-form-field *ngIf="!readonly">
        <mat-label>Description</mat-label>
        <textarea class="ticket__textarea"
          matTextareaAutosize
          matInput
          formControlName="description"
          placeholder="Description"></textarea>
      </mat-form-field>

      <div class="ticket__preview"
        [class.ticket__preview_disabled]="readonly">
        <mat-label class="ticket__label">Description</mat-label>
        <bg-markdown [text]="ticketForm.get('description').value"></bg-markdown>
      </div>

      <div class="ticket__controls">
        <ng-container *ngIf="!readonly; else editBlock">
          <button class="ticket__button"
            color="primary"
            mat-raised-button
            (click)="submit()">
            Save
          </button>
          <button class="ticket__button"
            mat-raised-button
            (click)="cancel($event)">
            Cancel
          </button>
        </ng-container>

        <ng-template #editBlock>
          <button class="ticket__button"
            color="primary"
            mat-raised-button
            (click)="edit()">
            Edit
          </button>
        </ng-template>
      </div>

      <div class="ticket__comments" *ngIf="activeRoute.snapshot.data.readonly">
        <div class="comment" *ngFor="let comment of comments">
          <div class="comment__info">
            <span class="comment__username">{{ comment.user?.name }}</span>
            <span class="comment__time"> commented {{ comment.timestamp | date:'medium'}}</span>
          </div>
          <bg-markdown [text]="comment.text"></bg-markdown>
        </div>

        <div class="comment__area">
          <mat-form-field class="comment__formfield">
            <textarea class="ticket__textarea"
              matTextareaAutosize
              matInput
              formControlName="comment"
              placeholder="Write a comment"></textarea>
          </mat-form-field>
        </div>

        <button class="ticket__button"
          color="primary"
          [disabled]="!ticketForm.get('comment').value"
          (click)="addComment()"
          mat-raised-button>
          Add comment
        </button>

        <div class="comment__preview">
          <bg-markdown [text]="ticketForm.get('comment').value"></bg-markdown>
        </div>
      </div>
    </div>

    <div class="ticket__col">
      <div class="row">
        <span class="row__name">Priority</span>
        <mat-form-field class="row__select">
          <select matNativeControl required formControlName="priorityId">
            <option *ngFor="let option of priorityOptions"
              [value]="option.value">
              {{ option.name }}
            </option>
          </select>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="row__name">Type</span>
        <mat-form-field class="row__select">
          <select matNativeControl required formControlName="typeId">
            <option *ngFor="let option of typeOptions"
              [value]="option.value">
              {{ option.name }}
            </option>
          </select>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="row__name">State</span>
        <mat-form-field class="row__select">
          <select matNativeControl required formControlName="statusId">
            <option *ngFor="let option of stateOptions"
              [value]="option.value">
              {{ option.name }}
            </option>
          </select>
        </mat-form-field>
      </div>

      <div class="row">
        <span class="row__name">Assignee</span>
        <mat-form-field>
          <mat-label>Assignee name</mat-label>

          <input class="ticket__input"
            type="text"
            matInput
            formControlName="assignee"
            [matAutocomplete]="assigneeAuto">

          <mat-autocomplete #assigneeAuto="matAutocomplete"
            [displayWith]="displayAssigneeFn">
            <mat-option *ngFor="let option of filteredAssigneeOptions | async"
              [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
